<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cuahangarea_realfood">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuaHangArea_RealFood">
        <activity android:name=".Home"  android:label="Home"></activity>
        <activity android:name=".DangKyActivity"  android:label="Đăng kí" android:parentActivityName=".LoginActivity"/>
        <activity android:name=".LoginActivity"  android:label="Đăng nhập">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>