<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cuahangarea_realfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuaHangArea_RealFood"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".screen.BepActivity"
            android:label="Quản lý bếp"
            android:parentActivityName=".screen.DanhSachDonHangActivity" ></activity>
        <activity
            android:name=".screen.ThongTinDonHangActivity"
            android:label="Thông tin đơn hàng"
            android:parentActivityName=".screen.DanhSachDonHangActivity" />
        <activity android:name=".screen.DanhSachDonHangActivity" />
        <activity
            android:name=".screen.ThongTinMaGiamGiaActivity"
            android:label="Voucher"
            android:parentActivityName=".screen.MaGiamGiaActivity" />
        <activity
            android:name=".screen.MaGiamGiaActivity"
            android:label="Voucher"
            android:parentActivityName=".screen.Home" />
        <activity
            android:name=".screen.TaiKhoanNganHangActivity"
            android:label="Tài khoản ngân hàng"
            android:parentActivityName=".screen.Home" />
        <activity
            android:name=".screen.DoiMatKhauActivity"
            android:label="Đổi mật khẩu"
            android:parentActivityName=".screen.Home" />
        <activity
            android:name=".screen.ThongTinCuaHangActivity"
            android:label="Thông tin cửa hàng"
            android:parentActivityName=".screen.Home" />
        <activity
            android:name=".screen.QuenMatKhauActivity"
            android:label="Quên mật khẩu"
            android:parentActivityName=".screen.LoginActivity" />
        <activity
            android:name=".screen.ThongTinSanPhamActivity"
            android:label="Thông tin sản phẩm"
            android:parentActivityName=".screen.DS_SanPhamActivity" />
        <activity
            android:name=".screen.DS_SanPhamActivity"
            android:label="Danh sách sản phẩm"
            android:parentActivityName=".screen.Home" />
        <activity
            android:name=".screen.Home"
            android:label="Home" />
        <activity
            android:name=".screen.DangKyActivity"
            android:label="RealFood"
            android:parentActivityName=".screen.LoginActivity" />
        <activity
            android:name=".screen.LoginActivity"
            android:label="Đăng nhập">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>