<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cuahangarea_realfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuaHangArea_RealFood"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".TaiKhoanNganHangActivity"
            android:label="Tài khoản ngân hàng"
            android:parentActivityName=".Screen.Home"></activity>
        <activity
            android:name=".Screen.DoiMatKhauActivity"
            android:label="Đổi mật khẩu"
            android:parentActivityName=".Screen.Home" />
        <activity
            android:name=".Screen.ThongTinCuaHangActivity"
            android:label="Thông tin cửa hàng"
            android:parentActivityName=".Screen.Home" />
        <activity
            android:name=".Screen.QuenMatKhauActivity"
            android:label="Quên mật khẩu"
            android:parentActivityName=".Screen.LoginActivity" />
        <activity
            android:name=".Screen.ThongTinSanPhamActivity"
            android:label="Thông tin sản phẩm"
            android:parentActivityName=".Screen.DS_SanPhamActivity" />
        <activity
            android:name=".Screen.DS_SanPhamActivity"
            android:label="Danh sách sản phẩm"
            android:parentActivityName=".Screen.Home" />
        <activity
            android:name=".Screen.Home"
            android:label="Home"></activity>
        <activity
            android:name=".Screen.DangKyActivity"
            android:label="RealFood"
            android:parentActivityName=".Screen.LoginActivity" />
        <activity
            android:name=".Screen.LoginActivity"
            android:label="Đăng nhập">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>